/* About */


#about {
    margin-top:70px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 18rem 4rem;
    height:100%;
    /*z-index: 10000;*/
}
#about .about-content {
    height:100%;
}

#about .about-content .about-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .about-content .about-title h1{
    color:var(--light-color);
}
#about .about-text-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}
#about .about-text-div .text {
    padding:1.5rem;
    width:50%;
    color:var(--light-color);
    opacity: 0.9;

}
#about .about-text-div .text p {
    font-size: 2rem;
    font-weight: 200;
    text-shadow: 2px 2px  #131313;
    line-height: 1.6;

}
#about .about-text-div .about-img {
    width:20rem;
    height: 20rem;

}

#about .about-text-div .about-img img {
    width: 100%;
    border-radius: 50%;
    border:4px var(--dark-color) solid;
}

#about .cat-about {
    transform: scaleX(-1);
    transition: transform 1.4s ease-in-out;
    margin:1rem;
}

#about .cat-about:hover,  .cat-title {
    transform: scaleX(1);
}

#about .about-img {
    filter: invert(66);
}
#about .founder-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about .founder-pic{
    /*width:100%;*/
    border-radius: 100%;
    box-shadow: 2px 2px var(--black-color);
}