/*Navbar*/

#navbar .navbar-container {
    width: 100%;
    height: 20%;
    position:relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top:0;
    transition: 0.5s;
    overflow: visible;
    border-bottom:var(--grey-color) 2px dotted;
    z-index: 10000;
}

#navbar .navbar-container .navbar-menu-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#navbar .navbar-container .navbar-menu-div ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height:30%;
    width:100%;
}

#navbar .navbar-container ul li a {
    width: 100%;
    font-size: 1.3rem;
    color:whitesmoke;
    padding: 0;
    transition: all 0.7s ease-in;
}

#navbar .logo {
    width:50%;
    height: 100%;
    margin-left:0;
    padding-bottom:1rem;
}

#navbar .logo i{
    font-size: 4rem;
    color:whitesmoke;
}

#navbar .small-cat-1{
    visibility: hidden;

}

/*Home*/

#home {
    position: relative;
}

#home .home-content-div {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 2rem;
}

#home .home-content-div .main-title {
    display: flex;
    flex-direction: column;
    width: 100%;


}

#home .about-img{
    width: 100%;
    margin: auto;
}

#home .about-img > img{
    margin-top:1rem;
    height: 90%;
    width: 90%;
}

/*About*/

#about {
    margin-top:30px;
    padding-top: 5rem;
}

#about .about-text-div {
    padding: 0.2rem;
    justify-content: center;
    /*display: block;*/
    /*text-align: justify;*/
}

#about .about-text-div .text {
    padding:0.9rem;
    width:95%;
}

#about .founder-div{
    width:50%;
}

#about .founder-pic {
    width:100%;

}

#about .founder-div p{
    font-size: 1rem;
    margin-top:2rem;
    padding-bottom:5rem;
}


/*Store Page (skills) */

#skills {
    position: relative;
    padding-top: 0;
}

#skills .skills-content .skill-title{
    padding:1rem;
    /*border-top:1px dotted var(--grey-color);*/

}

#skills .skills-content .skill-title {
    justify-content: center;
    align-items: center;
}

#skills .skills-content .skill-title h2{
    font-size: 1.7rem;
    text-align: center;
}

#skills .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills .parent .div {
    border-bottom: 1px dotted var(--grey-color);
    padding-bottom: 1rem;
}

#skills .parent .div p{
    font-size: 1rem;

}

#skills .skills-content .parent .div .btn {
    font-size: 1rem;
    padding:0.5rem;
    /*transform: translate(-25px,12px);*/
    position: initial;
    transform: translateX(0);
    margin-top: 1rem;
    width: 100%;
}


#skills .ps-store-div{
    padding:0;
    max-width: 100%;
}
#skills .ps-store-div p{
    font-size: 1rem;
}

#skills .skills-content .img {
    width: 100%;
}

/* Contact */

#contact {
    padding-top: 3rem;
}

#contact .contact-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#contact .contact-div h1 {

}
#contact .filler-div {
    visibility: hidden;
}
#contact .contact-h1 {
    transform: translateX(0);
    text-align: center;
}
.border-dots-h {
    visibility: hidden;
}

#contact .contact-div span {
    text-align: center;
}
#contact .contact-img {
    width:30%;
    height: 30%;
}

#contact .contact-h1 {
    font-size: 2rem;
}


    /* Animations */

#skills .box-2 {
    /*visibility: hidden;*/
    top:8%;
    left:37%;

}
#skills .skills-content {
    animation: loading-page 0.7s  forwards ease-in;

}

    /*Footer*/

#footer {
    padding: 0.5rem;
}

#footer .footer-div{
    align-items: center;
}
#footer .footer-middle p {
    font-size: 0.4rem;
}

#footer .footer-right a {
    font-size: 0.9rem;
    /*border-bottom: 1px var(--grey-color) dotted;*/
    padding:0.2rem 0;
}

#footer .footer-right .footer-links {
    width:100%;
    height:100%;
}
#footer .footer-middle {
    justify-content: flex-end;
    align-items: center;
    padding-top: 50%;

}
#footer .footer-middle p {
     /*padding-top: 95%;*/
    letter-spacing: 0;
}