/* Navbar */

#navbar .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--dark-color);
    color:#fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position:fixed;
    top:0.7rem;
    padding: 1rem  5rem;
    transition: 0.5s;
    overflow: visible;
    z-index: 100;

}

#navbar .navbar-container .navbar-menu-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

#navbar .navbar-container .navbar-menu-div ul{
    width:60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}


#navbar .navbar-container ul li a {
    width: 100%;
    color:whitesmoke;
    font-size: 2rem;
    padding: 0 0.3rem;
    transition: all 0.3s ease-in;

}

#navbar .navbar-container ul li a:hover {
    color:var(--secondary-color);
    transform: scale(20);
}

#navbar .navbar-container ul li a:focus {
    color:var(--secondary-color);
    letter-spacing: 1px;
}

/*Logo*/
#navbar .logo {
    width:20%;
    /*transition: 4s  ease-in-out;*/
    display: flex;
    justify-content: space-around;

}

#navbar .logo i{
    font-size: 3rem;
    color:whitesmoke;
}
#navbar .logo .logo-main{
    transition: transform 3s ease-in;
}

#navbar .small-cat-1 {
    transform: translate(-4rem ) rotate(-35deg);
    transition: transform 4s  linear;
    /*position: relative;*/
    position: absolute;
    left:0;
    top:0;

    /*z-index: -100;*/
    color:var(--light-color);


}
/*#navbar .small-cat-1::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    background: var(--dark-color);*/
/*    bottom: 0;*/
/*    left:0;*/
/*    width: 100%;*/
/*    height:100%;*/
/*    z-index: 20;*/

/*}*/

#navbar .logo .logo-main:hover {
    transform: rotate(25deg);
}

#navbar .logo:hover > .small-cat-1 {
    transform: translateY(0.5rem);
    transition: 6s  linear;
}
