/* Navbar */

#navbar .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--dark-color);
    color:#fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position:fixed;
    top:0;
    padding: 0 30px;
    transition: 0.5s;
    overflow: visible;
    z-index: 1000;

}

#navbar .navbar-container .navbar-menu-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

#navbar .navbar-container .navbar-menu-div ul{
    width:60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}


#navbar .navbar-container ul li a {
    width: 100%;
    color:whitesmoke;
    font-size: 2rem;
    padding: 0 0.3rem;
    transition: all 0.3s ease-in;

}

#navbar .navbar-container ul li a:hover {
    color:var(--secondary-color);
    transform: scale(20);
}

#navbar .navbar-container ul li a:focus {
    color:var(--secondary-color);
    letter-spacing: 1px;
}

/*Logo*/
#navbar .logo {
    width:20%;
    /*transition: 4s  ease-in-out;*/
    display: flex;
    justify-content: space-around;

}

#navbar .logo i{
    font-size: 3rem;
    color:whitesmoke;
}
#navbar .logo .logo-main{
    transition: transform 3s ease-in;
}

#navbar .small-cat-1 {
    transform: translateY(59px);
    transition: transform 4s  linear;
    position: relative;
    /*z-index: -100;*/
    color:var(--light-color);

}

#navbar .logo .logo-main:hover {
    transform: rotate(25deg);
}

#navbar .logo:hover > .small-cat-1 {
    transform: translateY(12px);
    /*transition: 6s  linear;*/
}

