
#skills {
    /*padding: 12rem 12rem;*/
    width: 100%;
    height: 100%;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}
#skills .skills-content .skill-title{
    /*background: var(--secondary-color);*/
    /*background: var(--primary-color);*/
    /*background: var(--light2-color);*/
    /*background: radial-gradient(circle at 100px 100px, var(--primary-color),var(--dark-color));*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px var(--dark-color) dashed;
    width: 100%;
}

#skills .skills-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery {
    padding: 4rem;
    margin-top:12rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 'header header header header '
                        'img-1 img-1 img-2 img-3 ';
}

#skills .gallery-img {
    background: var(--light-color);
    height:100%;
    width:100%;
}

.gallery-img .gallery-header {
    grid-area: header;
}
.gallery-img .img-1{

    grid-area: img-1;

}
.gallery-img .img-2{
    grid-area: img-2;

}
.gallery-img .img-3{
    grid-area: img-3;

}