/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

html, body {
    /*font-family: 'Zen Kurenaido', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color:#131313;
    /*background: var(--light-color);*/
    background: var(--dark-color);
    /*background: radial-gradient(circle at 100px 100px, var(--light2-color),var(--light-color));*/
    /*height: 100vh;*/
    /*width: 100vw;*/
    min-height: 100vh;
    /*scroll-snap-type: y mandatory;*/

}
#home, #about,#skills {
    scroll-snap-align: start;
}


    /*------------ Animations ---------------*/

/*main title*/
#home .main-title h1 {
    transform: translate(40px ,-10px);
    opacity: 0;
    animation: title 2s forwards ease-in;
}
#home .main-title .profile-img-div {
    transform: translateX(-10px);
    opacity: 0;
    animation: title 2s forwards ease-in;

}

#about  .about-title {
    opacity: 0;
    transform: translateX(10px);
    animation: title 2s forwards ease-in;
}

#about .text h3{

    opacity: 0;
    transform: translateX(-20px) scale(0.98);
    animation: title 4s 1s forwards ease-in;
}

#contact .contact-title {
    opacity: 0;
    transform: translateX(-4px);
    animation: title 2s  forwards ease-in;
}
#contact {
    opacity: 0;
    animation: title 1s  forwards ease-in;
}
#contact .list {
    opacity: 0;
    transform: translateX(-1px);
    animation: title 3s 3.4s forwards ease-in;
}
@keyframes title {
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
        /*transform: ;*/
    }
}

#about  .cat-title{

    transform: scaleX(1);
    transition: 1s ease-in-out;
    animation: flip 2s forwards ease-in-out;
}

@keyframes flip {
    to {
        transform: scaleX(-1);
    }
}

/* footprints */
.footprints {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    background: transparent;
    height:80%;
    width:10%;
    position: absolute;
    /*top:80%;*/
    left:10px;
    /*padding-top: 20%;*/
    /*margin-right: 20%;*/
}



 .footprints i {
    font-size: 28px;
    width:20%;
    color:transparent;
    margin-top:7rem;
    /*margin-left: 10%;*/
}
.footprints .one {
    transform: translateX(17px);
    animation: footprint-1 9s 10s forwards ease-in;
}
.footprints .two{
    /*transform: translateX(5px);*/
    animation: footprint-1 9s 11.5s forwards ease-in;
}
.footprints .three{
    transform: translateX(20px);
    animation: footprint-1 9s 14s forwards ease-in;
}
.footprints .four{
    /*transform: translateX(5px);*/
    animation: footprint-1 9s 17s forwards ease-in;
}

.footprints .five{
    transform: rotate(10deg);
    animation: footprint-1 9s 20s forwards ease-in;
}
.footprints .six{
    transform: rotate(17deg) translateX(20px);
    animation: footprint-1 9s 23s forwards ease-in;
}

@keyframes footprint-1 {
    0% {

        /*color: var(--dark-color);*/
        color:var(--light-color);
    }

    50% {
        color: transparent;

    }
}


/*store loading page */

#skills .skills-content {
    opacity: 0;
    transition: 1s linear;
    animation: loading-page 0.7s 3s forwards ease-in;
}



@keyframes loading-page {
to{
    opacity: 1;
}
}
#skills .box-2 {
    height:100px;
    width:100px;
    border-right:8px solid transparent;
    border-top:8px solid  var(--light-color);
    border-radius: 100%;
    position: absolute;
    top:80vh;
    left:50vw;
    animation: spinner1 0.5s forwards linear;
    animation-iteration-count:6;
    z-index: 1;
}

@keyframes spinner1 {
    0% {
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(140deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*Little Cat animation hover */

.cat-about {
    transform: scaleX(-1);
    transition: transform 1.4s ease-in-out;
    margin:1rem;
}

.cat-about:hover,  .cat-title {
    transform: scaleX(1);
}
