/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

html, body {
    font-family: 'Zen Kurenaido', sans-serif;
    line-height: 1.6;
    color:#131313;
    /*background: var(--light-color);*/
    background: var(--dark-color);
    background: radial-gradient(circle at 100px 100px, var(--light2-color),var(--light-color));
    height: 100vh;
    scroll-snap-type: y mandatory;

}
#home, #about,#skills {
    scroll-snap-align: start;
}


    /*------------ Animations ---------------*/

/*main title*/
#home .main-title h1 {
    transform: translateX(40px);
    opacity: 0;
    animation: title 2s forwards ease-in;
}
#home .main-title .profile-img-div {
    transform: translateX(-10px);
    opacity: 0;
    animation: title 2s forwards ease-in;

}

@keyframes title {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* footprints */
#home .footprints {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    background: transparent;
    height:80%;
    width:10%;
    position: absolute;
    /*top:80%;*/
    left:0;
    /*padding-top: 20%;*/
    /*margin-right: 20%;*/
}

#home .footprints i {
    font-size: 30px;
    width:20%;
    color:transparent;
    margin-top:7rem;
    /*margin-left: 10%;*/
}
#home .footprints .one {
    transform: translateX(17px);
    animation: footprint-1 9s forwards ease-in;
}
#home .footprints .two{
    /*transform: translateX(5px);*/
    animation: footprint-1 9s 1.5s forwards ease-in;
}
#home .footprints .three{
    transform: translateX(20px);
    animation: footprint-1 9s 3s forwards ease-in;
}
#home .footprints .four{
    /*transform: translateX(5px);*/
    animation: footprint-1 9s 5s forwards ease-in;
}

@keyframes footprint-1 {
    0% {

        color: var(--dark-color);
    }

    50% {
        color: transparent;

    }
}


/*about cat */



