

/* colors */
:root {
    --primary-color:#D4B499;
    --secondary-color:#F3D5C0;
    --light-color:#FEF5ED;
    --light2-color:#D3E4CD;
    --dark-color: #506D84;
    --black-color:#131313;
    --red-color:#F28157;
    --max-width: 1100px;
}





a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
}

.hr{
    width:100%;
    height:100%;
    border-bottom: 2px solid var(--primary-color)
}
h1{
    font-size: 5rem;
    font-weight: 800;
    margin:5px;
    letter-spacing: 5px;
}

h2 {
    font-size: 4rem;
    font-weight: 500;
    margin:5px;
}
h3 {
    font-size: 3rem;
    font-weight: 500;
    margin:5px;
}
h4 {
    font-size: 2rem;
    font-weight: 300;
    margin:5px;
}
h1,h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
    color:var(--light-color);
}

p {
    font-size: 2rem;
    font-weight: 200;

}

strong {
    color:var(--red-color);
}
.rotate-90{
    transform: rotate(90deg);
}
.rotate-180{
    transform: rotate(180deg);
}


/*border*/
.border-dots {
    font-size: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*margin: auto;*/
    letter-spacing: 3px;
    /*margin-top: 8rem;*/
    color:var(--light2-color);
    position: relative;
    z-index: 11;
    /*padding-left:20%;*/
    /*margin: auto;*/
    height: 40px;

}

.border-dots::after {
    content: '';
    position: absolute;

    left:0;
    top:0;
    background: var(--dark-color);
    z-index: 12;
    width: 100%;
    height: 40px;
    animation: border-dot 5s 1s forwards ease-in-out;
}

@keyframes border-dot {
    to {
        transform: translateX(1550px);
    }

}

.border-dots-h {
    font-size: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*margin: auto;*/
    letter-spacing: 3px;
    /*margin-top: 8rem;*/
    color:var(--light2-color);
    position: relative;
    z-index: 11;
    /*padding-left:20%;*/
    /*margin: auto;*/
    height: 40px;
    margin-right: 30rem;
    transform: rotate(90deg);

}

.border-dots-h::after {
    content: '';
    position: absolute;

    left:0;
    top:0;
    background: var(--dark-color);
    z-index: 12;
    width: 100%;
    height: 40px;
    animation: border-dot 5s 2s forwards ease-in-out;
}

@keyframes border-dot-h {
    to {
        transform: translateY(1550px);
    }

}