<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/48c5a7dfc3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/skills.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" media="screen and (max-width:550px)" href="../css/mobile.css">

    <title>Jonie The Cat</title>
    <link rel="shortcut icon" href="./images/cat-icon-34368-Windows.ico" type="image/vnd.microsoft.icon">

</head>
<body id="home2">
<header>
    <nav id="navbar" >
        <div class="navbar-container">
            <div class="logo">
                <a href="#"><i class=" logo-main fas fa-paw"></i></a>
                <i class="small-cat-1 fas fa-cat"></i>
            </div>
            <div class="navbar-menu-div">
                <ul>
                    <li><a href="../index.html">| Home </a></li>
                    <li><a href="../templates/about.html">| About </a></li>
                    <li><a href="../templates/skills.html">|  Store  </a></li>
                    <li><a href="#location">| Locations </a></li>
                    <li><a href="../templates/contact.html">| Contact </a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--Skils-->
<div class="footprints ">
    <i class="four fas fa-paw"></i>
    <i class="three fas fa-paw"></i>
    <i class="two fas fa-paw"></i>
    <i class="one fas fa-paw"></i>
</div>
<section id="skills">
    <div class="skills-content">
        <div class="skill-title">
            <h1>Buy our <strong>Stuff</strong></h1>
        </div>
        <div class="border-dots rotate-90 rotate-180">
            <h4> ● ● ● ● ● ● ● ● ● ● ● ● ● ● </h4>
        </div>
        <div class="skills-div">

                <h2>You Need <strong>This</strong> </h2>
            <div class="gallery">
                <div class="gallery-header">
                    <h4>=hiiiiii</h4>
                </div>
                <div class="gallery-img img-1"><img src="../images/cats+friendly+kitty+pets+icon-1320085819981933451_512.png" alt=""></div>
                <div class="gallery-img img-2">2</div>
                <div class="gallery-img img-3">3</div>
                <div class="gallery-img img-4">4</div>
                <div class="gallery-img img-5">5</div>
                <div class="gallery-img img-6">6</div>
                <div class="gallery-img img-7">7</div>
                <div class="gallery-img img-8">8</div>
                <div class="gallery-img img-9">9</div>
                <div class="gallery-img img-0">10</div>

            </div>
        </div>
    </div>
    <div class="border-dots-curve">
        <h4> </h4>
    </div>
    <div class="graph">

    </div>
    <div class="curvedarrow">

    </div>
</section>