<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/48c5a7dfc3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/skills.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" media="screen and (max-width:750px)" href="../css/mobile.css">
    <title>JThe Cat | Shop</title>
    <link rel="shortcut icon" href="../images/cat-icon-34368-Windows.ico" type="image/vnd.microsoft.icon">
</head>
<body id="home2">
<header>
    <nav id="navbar" >
        <div class="navbar-container">
            <div class="logo">
                <a href="#"><i class=" logo-main fas fa-paw"></i></a>
                <i class="small-cat-1 fas fa-cat"></i>
            </div>
            <div class="navbar-menu-div">
                <ul>
                    <li><a href="../index.html">| Home </a></li>
                    <li><a href="../templates/about.html">| About </a></li>
                    <li><a href="../templates/skills.html" class="current">|  Store  </a></li>
                    <li><a href="#location">| Locations </a></li>
                    <li><a href="../templates/contact.html">| Contact </a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--Skils-->
<div class="footprints ">
    <i class="four fas fa-paw"></i>
    <i class="three fas fa-paw"></i>
    <i class="two fas fa-paw"></i>
    <i class="one fas fa-paw"></i>
</div>
<section id="skills">

    <div class="skills-content">
        <div class="skill-title">
            <h1>Buy our <strong>Stuff</strong></h1>

            <h2>Browse our collection and buy something... <strong>Please </strong>  </h2>
<!--        <div class="border-dots rotate-90 rotate-180">-->
<!--            <h4> ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ●</h4>-->
<!--        </div>-->
<!--            <div class="filler-div"></div>-->
        <div class="skills-div">

        </div>
        </div>
      <div class="white-div">
        <div class="gallery-container">
            <div class="parent">
                <div class="div div1"><img  class="img" src="../images/gizmo.jpg" alt="product-img">
                    <p>Lorem ipsum dolor sit. -$39</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div2"><img  class="img" src="../images/chicken.jpg" alt="product-img">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing  possimus ut voluptatibus. - $5</p>
                            <div class="btn">BUY</div>
                </div>
                <div class="div div3"><img  class="img" src="../images/product4.jpg" alt="product-img">
                        <p>Lorem ipsum dolor sit. -$39</p>
                        <div class="btn">BUY</div></div>
                <div class="div div4"><img  class="img" src="../images/product7.jpeg" alt="product-img">
                    <p>Lorem ipsum dolor sit. -$19</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div5"><img  class="img" src="../images/mug.jpg" alt="product-img">
                    <p>Lorem ip Lorem ipsum. -$139</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div6"> <img  class="img" src="../images/prod12.jpeg" alt="product-img">
                    <p>Lorem ipsum dolor sit. -$9</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div7"><img  class="img" src="../images/profuct2.jpg" alt="product-img">
                    <p>Lorem ipsum dolor sit amet, consectetur. -$39</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div8"> <img  class="img" src="../images/product3.jpg" alt="product-img">
                    <p>Lorem idsd psum dolor sit. -$239</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div9"><img  class="img" src="../images/cats+friendly+kitty+pets+icon-1320085819981933451_512.png" alt="product-img">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, unde.. -$55</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div10"> <img  class="img" src="../images/download.jpeg" alt="product-img">
                    <p>Lorem ipsum d sit. -$11</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div11"><img  class="img" src="../images/product4.jpg" alt="product-img">
                    <p>Lorem ipsum dolor sit amet, consectetur.. -$9</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div12"><img class="img" src="../images/prod17.jpg" alt="product-img">
                    <p>Lorem ipsum dolor.-$87</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div13"> <img  class="img" src="../images/product8.jpg" alt="product-img">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing..-$22</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div14"> <img  class="img" src="../images/product9.jpg" alt="product-img">
                    <p>Lorem ipsum dolor.-$13</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div15"> <img  class="img" src="../images/gizmo.jpg" alt="product-img">
                    <p>Lorem  -$87</p>
                    <div class="btn">BUY</div>
                </div>
                <div class="div div16"> <img  class="img" src="../images/cat-icon-34377.png" alt="product-img">
                    <p>Lorem ipsum dolor.-$181</p>
                    <div class="btn">BUY</div>
                </div>
<!--                <div class="div div17"> <img  class="img" src="../images/cat-icon-34377.png" alt="product-img">-->
<!--                    <p>Lorem ipsum dolor sit amet.-$187</p>-->
<!--                    <div class="btn">BUY</div>-->
<!--                </div>-->
            </div>
        </div>
      </div>
    </div>
    <div class="ps-store-div">
        <div class="small-cat-div">
            <p><i class="cat-about fas fa-cat"></i></p><p><i class="cat-about fas fa-cat"></i></p><p><i class="cat-about fas fa-cat"></i></p>
        </div>
        <p>* Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, natus?</p>


<!--    loading spinner-->

    </div>
    <div class="spinner-div">
        <div class="box-2 spiner-1"></div>
    </div>
</section>
<!--Footer-->
<footer id="footer">
    <div class="footer-div">
        <div class="footer-left">
            <div class="footer-h3">
                <h3>The Cat</h3>
            </div>
            <div class="footer-icons">
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://twitter.com"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-middle">
            <p>Copyright &copy; 2021 All Rights Reserved</p>
        </div>
        <div class="footer-right">
            <div class="footer-links">
                <a href="../index.html">Home</a>
                <a href="../templates/about.html">About Us</a>
                <a href="../templates/skills.html">Buy</a>
                <a href="../templates/contact.html">Contact Us</a>
            </div>
        </div>
    </div>
</footer>



</body>
</html>